<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="leftcol">
			<h3 style="margin-bottom: 15px;">Pizza Shop is located in Reutov City.</h3>
			<p><strong>Phone: 845-565-7467</strong></p>
			<p>Ubileynaya Street, 68<br>
			Reutov City, Moskovskaya oblast<br>

			</div>
		</div>
	</div>
</div>